<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        {% block stylesheets %}{% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
    </head>
    
    <body>
        <p>Main Theme Block</p>
        {% block body %}
        {% endblock %}
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
