{# empty Twig template #}
<head>
    
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>{% block title %}{% endblock %}</title>
  
  <!-- Bootstrap core CSS-->
  {% block bootstrap_core_css %}
      <link href="{{ asset('theme/landing/css/bootstrap.min.css') }}"> 
      <link href="{{ asset('theme/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
      <!-- Custom fonts for this template-->
      <link href="{{ asset('theme/vendor/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
      <!-- Page level plugin CSS-->
      <link href="{{ asset('theme/vendor/datatables/dataTables.bootstrap4.css')}}" rel="stylesheet">
      <!-- Custom styles for this template-->
      <link href="{{ asset('theme/css/sb-admin.css')}}" rel="stylesheet">
      
      {#{{ asset('')}}#}
  {% endblock bootstrap_core_css %}
  
</head>