{# empty Twig template #}
<!-- Bootstrap core JavaScript-->
<script src={{ asset('theme/vendor/jquery/jquery.min.js')}}></script>
<script src={{ asset('theme/vendor/bootstrap/js/bootstrap.bundle.min.js')}}></script>
<!-- Core plugin JavaScript-->
<script src={{ asset('theme/vendor/jquery-easing/jquery.easing.min.js')}}></script>
<!-- Page level plugin JavaScript-->
<script src={{ asset('theme/vendor/chart.js/Chart.min.js')}}></script>
<script src={{ asset('theme/vendor/datatables/jquery.dataTables.js')}}></script>
<script src={{ asset('theme/vendor/datatables/dataTables.bootstrap4.js')}}></script>
<!-- Custom scripts for all pages-->
<script src={{ asset('theme/js/sb-admin.min.js')}}></script>
<!-- Custom scripts for this page-->
<script src={{ asset('theme/js/sb-admin-datatables.min.js')}}></script>
<script src={{ asset('theme/js/sb-admin-charts.min.js')}}></script>   