<!DOCTYPE html>
<html lang="en">

{{ include('head.html.twig') }}

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    
    {{ include('nav.html.twig') }}
{#  {% block nav_block %}  
  {% endblock nav_block %}#}
  
  <div class="content-wrapper">
      
        <div class="container-fluid">
            {% block content %}
            {% endblock content %}
        </div>
        <!-- /.container-fluid-->
        
        
    {{ include('footer.html.twig') }}
{#    {% block footer %}
    {% endblock footer %}#}
    {{ include('modal.html.twig') }}
{#    {% block modal %}
    {% endblock modal %}#}

    {% block main_javascripts %}     
            {{ include('js_footer.html.twig') }}
    {% endblock main_javascripts %}    

  </div>
  
  
</body>

</html>
