{% trans_default_domain 'FOSUserBundle' %}

<h1>MyForm<h1>
        
{#{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}#}



{#
<div class="container">
    
    <div class="card card-register mx-auto mt-5">
        <div class="card-header">Register an Account</div>
            <div class="card-body">

    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}  }) }}

              <div class="form-group">
                <div class="form-row">
                  {<div class="col-md-6">     
                    {{ form_row(form.username, { 'attr': {'class': 'col-md-6'}}, { 'attr': {'class': 'col-md-6'} ,'label_attr': {'id': 'exampleInputName'}}) }}
                  {</div>}
                </div>
              </div>


              <div class="form-group">
                    {{ form_row(form.email) }}
              </div>    

              <div class="form-group"> 
                <div class="form-row">  
                    <div class="col-md-6">
                    {{ form_row(form.PlainPassword) }}
                    </div>
                </div>
              </div> 
              
              <div class="form-group"> 
                <div class="form-row">  
                    <div class="col-md-6">
                    {{ form_row(form.PlainPassword) }}
                    </div>
                </div>
              </div>               


        <div>
            <input type="submit" value="{{ 'Register'|e }}" class="btn btn-primary btn-block"/>
        </div>

    {{ form_end(form) }}
        </div>
    </div>
</div>
#}
<!-- --->
    
    
    
<!-- ----------------------------------------------------- -->


{#<form name="fos_user_registration_form" method="post" action="/app_dev.php/register/" class="fos_user_registration_register">

    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

        <input name="fos_user_registration_form[username]" class="form-control" id="exampleInputName" type="text" aria-describedby="nameHelp" placeholder="Enter first name">

      <div class="col-md-6">
        <label for="exampleInputLastName">Last name</label>
        <input class="form-control" id="exampleInputLastName" type="text" aria-describedby="nameHelp" placeholder="Enter last name">
      </div>

    <input name="fos_user_registration_form[email]" class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Enter email">


        <label for="exampleInputPassword1">Password</label>
        <input name="fos_user_registration_form[plainPassword][first]" class="form-control" id="exampleInputPassword1" type="password" placeholder="Password">
      </div>

      <div class="col-md-6">
        <label for="exampleConfirmPassword">Confirm password</label>
        <input name="fos_user_registration_form[plainPassword][second]" class="form-control" id="exampleConfirmPassword" type="password" placeholder="Confirm password">


    <input type="submit" value="Register" href="/login" class="btn btn-primary btn-block"/>
</form>

<div class="text-center">
  <a class="d-block small mt-3" href="login.html">Login Page</a>
  <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
</div>#}
 