  
<div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Login</div>
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        
      <div class="card-body">
        <form action="{{ path("fos_user_security_check") }}" method="post">
            
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}      
            
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input name="_username" class="form-control" id="exampleInputEmail1" type="text" required="required" autocomplete="_username">
              </div>
            
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input name="_password" class="form-control" id="exampleInputPassword1" type="password" placeholder="Password">
              </div>
            
              <div class="form-group">
                <div class="form-check">
                  <label class="form-check-label">
                    <!--<input class="form-check-input" type="checkbox"> --><!-- true -->
                    <input class="form-check-input" type="checkbox" id="remember_me" name="_remember_me" value="on" /> Remember Password  <!--copy fos -->
                  </label>
                </div>
              </div>
            
              {#<a class="btn btn-primary btn-block" href="index.html">Login</a>#}
              
              <input name="_submit" class="btn btn-primary btn-block" type="submit" id="_submit" value="Login" />
        </form>
          
        <div class="text-center">
          <a class="d-block small mt-3" href="register.html">Register an Account</a>
          <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
        </div>
      </div>
    </div>
</div>