{% extends "::onepage.html.twig"%}

{% block content %}
    {{ include('AppBundle:Charts:charts.html.twig') }}
    {{ include('AppBundle:News:news.html.twig') }}
    {{ include('AppBundle:Tables:tables.html.twig') }}
{% endblock content %}
