      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Data Table Example</div>
        <div class="card-body">
          <div class="table-responsive">
              
            
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Position</th>
                  <th>Office</th>
                  <th>Age</th>
                  <th>Start date</th>
                  <th>Salary</th>
                </tr>
              </thead>
              
              <tfoot>
                <tr>
                  <th>Title</th>
                  <th>Text</th>
                  <th>Office</th>
                  <th>Age</th>
                  <th>Start date</th>
                  <th>Salary</th>
                </tr>
              </tfoot>
              
              <tbody>
                {% for post in allPosts %}
                <tr>
                  <td>{{ post.title|e }}</td>
                  <td>{{ post.text |e }}</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                {% endfor %}
              </tbody>
              
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        
<form method="post" action="{{path('tables')}}">
    
    <input type="text" name="title" placeholder="title">
    
    <input type="text" name="text" placeholder="text">

    <input type="submit">
    
</form>
      </div>